body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button:hover,
button:focus {
	cursor: pointer;
}

.main-wallet {
	background: rgba(185, 204, 238, 0.5);
	padding: 2rem;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.main-header {
	text-align: center;
	font-size: 22px;
	margin-bottom: 40px;
}
